<div id="fullpage">
  <div class="section main-section">
    <%= form_tag search_path, method: :get, remote: true do %>
      <%= text_field_tag :keyword, nil, placeholder: "START TYPING",
       class: "main-search", autocomplete: "off" %>
    <% end %>
  </div>
  <div class="section">
    <div class="remote">
      
      <% @grid.each_with_index do |value, row, column| %>
        <% if value == 1 %>
          <%= render partial: "pages/frames/big_frame", locals: { top: 20 * row, left: 20 * column, width: 40, height: 40 } %>
        <% elsif value == 2 %>
          <%= render partial: "pages/frames/small_frame", locals: { top: 20 * row, left: 20 * column, width: 20, height: 20 } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
