<div id="fullpage">
  <div class="section main-section">
    <%= form_tag search_path, method: :get, remote: true do %>
      <%= text_field_tag :keyword, nil, placeholder: "START TYPING",
       class: "main-search", autocomplete: "off" %>
    <% end %>
  </div>
  <div class="section">
    <div class="remote">
      <% @grid.each do |value| %>
        <% if value == 1 %>
          <%= render partial: "pages/frames/big_frame", locals: { top: "0", left: "0" } %>
        <% elsif value == 2 %>
          <%= render partial: "pages/frames/small_frame", locals: { top: "0", left: "0" } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
