<div id="fullpage">
  <div class="section main-section">
    <%= form_tag search_path, method: :get, remote: true do %>
      <%= text_field_tag :keyword, nil, placeholder: "START TYPING",
       class: "main-search", autocomplete: "off" %>
    <% end %>
  </div>
  <div class="section">
    <div class="remote">
      <%= render partial: "pages/frames/youtube", locals: { top: "0", left: "0" } %>
    </div>
  </div>
</div>
