<div class="tumblr-4 youtube" style="background-color: black; height: 25%; top: <%= top %>; left: <%= left %>">
  <iframe width="120%" height="120%" src="//www.youtube.com/embed/QxpFye_oKNc?rel=0&amp;showinfo=0" frameborder="0"></iframe>
</div>
